{% extends 'index.html'%}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Lavozim yaratsih</h4>
          <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputUsername1">Lavozim</label>
              <input name="name" type="text" class="form-control" id="exampleInputUsername1" placeholder="Lavozim nomi" required>
            </div>
            
            <button type="submit" class="btn btn-gradient-primary me-2">Saqlash</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block js %}
<script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
{% endblock %}